@{
    ViewBag.Title = "Home Page";
}





<div class="col-lg-4 col-xs-12">

    @Html.ActionLink("List of employees", "Index", "Employees")
</div>
<div class="col-lg-4 col-xs-12">
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")
    
</div>
    <div class="col-lg-4 col-xs-12">
        @Html.ActionLink("List of projects", "Index", "Projects")
    </div>


